/* General reset and box sizing */
*{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/* Typography */
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

/* Layout */
.container {
    display: flex;
    flex-wrap: wrap; /* Allows for wrapping on smaller screesn */
    width: auto;
    margin: 0 auto;
    padding: 5px;
}

.header-title {
    text-align: center;
    background-color: #3c89c4;
    color: white;
    padding: 20px 0;
    width: 100%;
}


/* ASIDE STYLING */
/* Search Area styling */
.search-area, .weather-display-area {
    padding: 10px;
    margin-right: 30px;
    margin-left: 30px;
}
.search-area {
    flex: 1;
    max-width: 300px;
    margin-top: 10px;
}

.search-area h2 {
    margin-bottom: 10px;
}

#current-search {
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
}

#search-input {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000; 
    border-radius: 5px;
}

#history-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

/* Buttons */
#search-btn, .search-history button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-btn {
    background-color: rgb(87, 118, 243);
    color: white;
    margin-bottom: 20px;
}

.search-history button {
    background-color: rgb(142, 142, 142);
    color: black;
}

#search-btn:hover {
    background-color: rgb(27, 55, 166);
}

.search-history button:hover {
    background-color: rgb(101, 100, 100);
    color: white;
}

#clear-search-history-btn {
    font-style: italic;
    font-size: 14px;
    background-color: rgb(241, 203, 240);
    color:black
}

#clear-search-history-btn:hover {
    background-color: rgb(166, 95, 182);
    color: white;
}


/* MAIN SECTION STYLING */
.weather-display-area {
    flex: 3; /* Takes the remaining space */
    width: calc(100% - 15px);
    margin-top: 25px;
    margin-left: 0px;
}

/* CURRENT WEATHER section styling */
#current-weather-container {
    border: 1px solid #000000; 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(127, 212, 255); /* Made this container's background color different in order to make sure the icons from OpenWeatherMap's API are more visible */
}

#current-weather-container p {
    margin-bottom: 10px;
}

.city-date-icon {
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    align-items: center; 
    gap: 10px;
}

.city-date-icon h2 {
    margin: 0;
    white-space: nowrap; /* keeps city name and date in the same line */
}

/* Additional styling for the weather icon */
.city-date-icon img {
    width: 55px;
    height: 55px;
}


/* FORECAST section styling */
#forecast-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Forecast card container */
#forecast-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}

/* Forecast card */
.forecast-card {
    background-color: rgb(25, 156, 222); /* Made this container's background color different in order to make sure the icons from OpenWeatherMap's API are more visible */
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: calc(20% - 8px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: break-word; /* Ensures the text wraps inside the card */
}


.forecast-card h4{
    margin: 5px 0;
    font-size: 20px;
}

.forecast-card img{
    display: block;
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
}

.forecast-card p {
   margin-bottom: 10px;
}


 /* MEDIA QUERIES - responsive design adjustments */
 /* featuring adjustments for standard breakpoints as well as specific breakpoints that were determined via testing various viewpoints*/

 @media (max-width: 1130px) {
    #forecast-cards-container {
        gap: 5px;
    }
    
    .forecast-card {
        padding-left: 10px;
        padding-right: 10px;
        width: calc(20% - 7px);
    }
 }

 @media (max-width: 992px) {
    #forecast-cards-container {
       justify-content: flex-start;
    }

    .forecast-card {
        width: calc(34% - 10px); /* Set width for three cards max per row */
    }
 }

 @media (max-width: 768px) {
     .container {
        display: flex; 
        flex-direction: column;  
        justify-content: flex-start;
        align-items: flex-start;
        width: calc(100% - 30px); /* Adjusted to account for 15px margins on both sides */
    }

    .search-area {
        max-width: 700px;
        margin-top: 10px;
    }

    .search-history {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Creates a 4-column grid */
    }

    #history-list { 
        display: contents; /* This will make the children directly part of the grid */
    }

    .search-history button, #clear-search-history-btn{
        grid-column: span 1; /* Each button will span one column */
    }

    #clear-search-history-btn{
        font-size: smaller;
    }

    .search-area h2 {
        font-size: 20px;
    }

    .weather-display-area {
        flex: 3; /* Takes the remaining space */
        width: calc(100% - 60px); /* Adjusted to account for 30px margins on both sides */
        margin: 25px 30px;
    
    }

    .forecast-card p {
        margin-bottom: 5px;
     }
 }

 @media (max-width: 572px) {
    #clear-search-history-btn{
        font-size: 12px;
    }
 }
 
 @media (max-width: 560px) {
    h1 {
        font-size: 35px;
    }

    .city-date-icon h2 {
        white-space: wrap;
    }

    .forecast-card {
        width: calc(50% - 10px); /* Set width for two cards max per row */
    }

    .search-history  {
        grid-template-columns: repeat(3, 1fr); /* Creates a 3-column grid */
    }
 }

 @media (max-width: 380px) {
    h1 {
        font-size: 30px;
    }

    .search-history  {
        grid-template-columns: repeat(2, 1fr); /* Creates a 2-column grid */
    }

    .forecast-card {
        width: calc(100% - 10px); /* Set width for one card max per row */
    }
 }